<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="color: #115fa8; font-weight: 500">
    <img src="/images/TĐT_logo.png" width="70" height="45" class=" " alt="">
    iBanking TDTU
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transaction-history">Lịch sử giao dịch</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <p>Số dư: <span id="balance">{{balance}}</span></p>
      <p style="margin-left: 16px;">{{fullname}}</p>
      <p style="margin-left: 16px;"><a href="/logout">Đăng xuất</a></p>
    </div>
  </div>
</nav>
